*{
    margin:0%;
    padding:0%;
}

form{
    width:40%;
    margin-left: 21%;
    margin-top: 10px;
    border: solid;
    border-color: darkblue;
}

heading{
    background-color: #00008b;
    height:50px;
    padding-top: 20px;
    color: #ffff;
    text-align: center;
}

.note{
    display: flex;
    flex-direction: rows;
}

.note label{
    padding-left: 15px;
    font-size: 25px;
    font-weight: bolder;
}

.note input{
    margin-left: 15px;
    height: 35px;
    width:90%;
    border: 5px solid;
    text-align: center;
}

.note input[type=submit]{
    margin-left: 15px;
    height: 35px;
    width: 90%;
    color: #ffff;
    border: 4px solid;
    border-color: #ffd700;
    margin-top: 15px;
    text-align: center;
    background-color: darkblue;
    cursor:pointer;
}

footer{
    background-color: #ffd700;
    margin-top: 15px;
    padding-top: 15px;
    height: 30px;
    text-align: center;
    font-size: 29px;
}
